@import '../../App.scss';

.interaction-display {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    .wide-element {
        @extend %smaller-buttons;
        width: 200px;
    }
    .wide-element:hover {
        @extend %smaller-buttons-hover;
        width: 200px;
        cursor: pointer;
    }
}
.empty-cart-display {
    display: flex;
    margin: 75px;
}
.cart-view {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    // align-content: space-around;
    height: 100%;
    .cart-item {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        padding: 20px;
        margin: 60px;
        border: 2.5px solid $black;
        min-width: 450px;
        background-color: white;
        color: darkslategray;
        .cart-item-picture {
            display: flex;
            width: 200px;
          }
        .cart-item-name {
            margin-top: 20px;
        }
        form {
            height: 125px;
            width: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
        }
        .form-button {
            @extend %smaller-buttons;
            width: 200px;
        }
        .form-button:hover {
            @extend %smaller-buttons-hover;
            width: 200px;
            cursor: pointer;
        }
    }
}
.bottom-buttons {
    display: flex;
    margin-bottom: 75px;
}
  