@import '../../App.scss';

.landing-main {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    .picture-element {
        background-image: url('../../photos/Landing-Photo.jpg');
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .header-container{
            background-color: rgba(255, 255, 255, 0.8);
            color: #000000;
            padding-left: 85px; 
            padding-right: 95px; 
            padding-top: 90px;
            padding-bottom: 90px;
        }
        h1 {
            font-size: 120px;
            padding: 20px;
            color: $black;
        }
        h2 {
            font-size: 30px;
            padding-bottom: 70px;
        }
        .landing-button {
            @extend %landing-button;
        }
       .landing-button:hover {
            cursor: pointer;
        }
    }
}