@import '../../App.scss';

.interaction-display {
  display: flex;
  margin-top: 45px;
}
.inventory-main-area {
  background-color: $cream;
  .search-area-inventory {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 25px;
    .search-button {
      height: 50px;
      background: transparent;
      border: none;
    }
    .search-input-box {
      background: white;
      border: solid 2px black;
      padding: 5px;
      width: 200px;
    }
  }
  .inventory-grid {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      align-content: stretch;
      margin-bottom: 50px;
      .inventory-child {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          flex-grow: 1;
          height: 100%;
          width: 280px;
          margin: 20px 20px 20px 2%;
          padding: 50px 50px 50px 50px;
          align-items: center;
          justify-content: space-around;
          border: solid 2.5px black;
          background-color: white;
          .inventory-child-spacer {
              margin: 10px 0 10px 0;
              h2 {
                font-weight: bold;
              }
          }
          .wide-element {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            width: 100%;
            max-width: 200px;
            margin-top: 20px;
            justify-content: center;
          .item-pairing {
              display: flex;
              flex-direction: row-reverse;
              align-items: center;
              justify-content: center;
              margin-top: 20px;
                .item-quantity-change {
                  display: flex;
                  border: solid;
                  padding: 5px;
                  max-width: 30px;
              }  
              .price-display {
                  display: flex;
                  flex-direction: row;
                  flex-wrap: nowrap;
                  justify-content: flex-end;
                  align-items: baseline;
                  align-content: stretch;
                  color: $black;
                  padding-right: 15px;
              }
          }
          .add-to-cart-btn {
              @extend %inventory-button;
              margin-top: 50px;
              .popup {
                position: relative;
                display: inline-block;
                cursor: pointer;
              }
          }
          button:hover {
              @extend %inventory-button-hover;
              margin-top: 50px;
              cursor: pointer;
          }
      }
    }
        
  }
}

@media (max-width: 375px) {
  .inventory-main-area {
    .search-area-inventory {
      .search-button {

      }
      .search-input-box {

      }
    }
    .inventory-grid {
      .inventory-child {
        margin: 10px 10px 10px 2%;
        width: 200px;
      }
    }
  }
}