@import '../../App.scss';

.purchase-history {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    .purchase-history-details {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        padding: 20px;
        margin-top: 20px;
        border: 2.5px solid $black;
        width: 450px;
        background-color: white;
        color: darkslategray;
        .ph-item-name {
            margin-top: 40px;
        }
        .ph-item {
            display: flex;
            margin-top: 10px;
        }
    }
}

@media (max-width: 375px) {
    .purchase-history {
        .purchase-history-details {
            width: 300px;
        }
    }
}