@import '../../App.scss';

.header {
    width: 100%;
    height: 100px;
    .divider {
        min-height: 100px;
    }
    .head {
        width: 100%;
        height: 100px;
        background-color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 1;
        position: fixed;
        .logo {
            width: 250px;
        }
        
    }
    .head nav > ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 400px;
        list-style: none;
    }
    .head a {
        color: $black;
        text-decoration: none;
        font-size: 20px;
        padding: 1.1em 1em!important;
        font-weight: 700;
        font-style: normal;
        font-size: 20px;
        font-variant: normal;
        line-height: 22px;
        &.active {
            text-decoration: underline $light-blue;
            text-underline-position: under;
        }
        &:hover {
            cursor: pointer;
            color: $light-blue;
        }
    }
}

@media (max-width: 375px) {
    .header {
        width: 375px;
        .head {
            width: 375px;
            .logo {
                width: 100px;
            }
        }
        .head nav > ul {
            display: flex;
            width: 300px;
        }
        .head a {
            font-size: 15px;
        }
    }
}
