 $primary-color: black;
 $secondary-color: #f69fa3;

@media (max-width: 800px) {
  .logo > img {
    padding: 0 20px;
    top: 90px;
    right: 10px;
    left: 10px;
    height: 50px;
  }
  .cart-navlink, .ph-navlink, .products-navlink {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    top: 90px;
    right: 10px;
    left: 10px;
    height: 10px;
  }
  .inventory-child {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    right: 10px;
    left: 10px;
  }
}

@media (max-width: 1000px) {
  .logo > img {
    padding: 0 20px;
    top: 90px;
    right: 10px;
    left: 10px;
    height: 75px;
  }
}
 
.app {
  display: flex;
  flex-direction: column;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
  .header-class {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    background-color: $secondary-color;
    .header-left-corner {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      text-decoration: none;
      width: 25%;
      .search-area {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: space-around;
        text-transform: uppercase;
      }
    }
    .logo-links-flex {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      text-decoration: none;
      width: 25%;
      .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
        padding-top: 20px;
        img {
          border: solid;
          border-radius: 15px;
        }
      }
      .navlinks {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        align-content: stretch;
        padding-bottom: 20px;
        .navlink-buttons {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          text-decoration: none;
          .cart-navlink, .ph-navlink, .products-navlink {
            text-decoration: none;
            border: 3px solid $primary-color;
            margin: 5px;
            padding: 3px;
            background-color: white;
            color: $primary-color;
            border-radius: 8px;
          }
          .cart-navlink:hover, .ph-navlink:hover, .products-navlink:hover {
            background-color:$primary-color;
            color: white;
          }
        }
      }
    }
    .header-right-corner {
      display: flex;
      text-transform: uppercase;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      width: 25%;
      text-decoration: none;
      color: $primary-color;
    }
  }
}

body {
  background-color: #ffeddd;
}

button { 
  border: solid;
  border-color: $primary-color;
  border-radius: 5px;
  text-transform: uppercase;
}

button:hover {
  color: white;
  background-color: $primary-color;
}