.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

body {
  background-color: #ffeddd;
}

.header-class {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  background-color: #f69fa3;
}

.navlinks {
  width: 100%;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
  align-content: stretch;
  padding-bottom: 20px;
}

.logo-links-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  width: 25%;
}

.header-left-corner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  width: 25%;
}

.header-right-corner {
  display: flex;
  text-transform: uppercase;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 25%;
}

.register-input-container {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

.login-input-container {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
}

.auth-container {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
  align-content: stretch;
  margin-top: 200px;
}

.inventory-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
}
// https://stackoverflow.com/questions/29546550/flexbox-4-items-per-row
.inventory-child {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: calc(100% * (1/5) - 10px - 1px);
  flex-grow: 1;
  height: 100%;
  margin: 20px 0 0 2%;
  padding: 10px 10px 10px 10px;
  align-items: center;
  justify-content: space-around;
}

.wide-element {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  max-width: 200px;

}

.inventory-child-spacer {
  margin: 10px 0 10px 0;
}

.search-area {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  text-transform: uppercase;
}

.purchase-history {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}

.cart-view {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}

.add-to-cart-btn {
  margin-top: 20px;
  height: 30px;
  border: solid;
  border-color: black;
  border-radius: 5px;
  text-transform: uppercase;
}

img {
  border: solid;
  border-radius: 15px;
}

button { 
  border: solid;
  border-color: black;
  border-radius: 5px;
  text-transform: uppercase;
}

button:hover {
  color: white;
  background-color: black;
}

.item-quantity-change {
  display: flex;
  border: solid;
  border-radius: 5px;
  padding: 5px;
  
}

.price-display {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: baseline;
  align-content: stretch;
  color: #f69fa3;
}

.item-pairing {
  display: flex;
	flex-direction: row-reverse;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}

.app {
  display: flex;
  flex-direction: column;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
}

.cart-item-picture {
  display: flex;
  width: 100px;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
  border: 5px solid black;
  min-width: 450px;
  background-color: white;
  border-radius: 15px;
  color: darkslategray;
}

.nav-link-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-decoration: none;
}

.cart-navlink, .ph-navlink, .products-navlink {
  text-decoration: none;
  border: 3px solid black;
  margin: 5px;
  padding: 3px;
  background-color: white;
  color: black;
  border-radius: 8px;
}

.cart-navlink:hover, .ph-navlink:hover, .products-navlink:hover {
  background-color:black;
  color: white;
}

.search-area-inventory {
  padding-top: 20px;
}