@import '../../App.scss';

.main-area {
  height: 100%;
  .auth-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    height: 100%;
    .login-input-container {
      text-transform: uppercase;
      display: flex;
      padding: 10px;
      border: solid 2.5px black;
      background-color: white;
    }
    .login-input-button {
      display: flex;
      align-items: center;
    }
    .register-input-container {
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      // align-items: flex-start;
      padding: 10px;
      border: solid 2.5px black;
      background-color: white;
    }
    .register-input-button {
      display: flex;
      align-items: center;
    }
    h2 {
      font-size: 40px;
      padding-top: 10px;
      padding-bottom: 20px;
    }
    h3 {
      font-size: 20px;
      padding-top: 10px;
      padding-bottom: 50px;
    }
  }
}
