@import '../../App.scss';

.main-area {
  display: flex;
  .auth-container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    margin-top: 200px;
    .login-input-container {
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      // align-items: flex-end;
      padding: 10px;
      border: solid 5px black;
      }
    .register-input-container {
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      // align-items: flex-start;
      padding: 10px;
      border: solid 5px black;
    }
  }
}
